@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* reset code */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
}
/* reset code */

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(240, 238, 173);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 32rem;
    height: 20rem;
    background-color: rgb(7, 128, 249);
    border-radius: 0.6rem;
    padding: 1rem;
    color: white;
    box-shadow: 0.1rem 0.1rem 0.1rem #222, -0.1rem 0 0.1rem #222;
    font-size: 1.2rem;
}
.card:hover{
    box-shadow: 0.2rem 0.2rem 0.2rem #222, -0.2rem 0 0.2rem #222;
    transition: all 0.3s;
}
.card_title{
    text-align: center;
    color: white;
    padding-bottom: 1rem;
}
.form_filed{
    padding-bottom: 1rem;
}
input{
    border: none;
    border: 0.1rem solid;
    border-radius: 0.6rem;
    padding: 0.2rem;
    background-color: rgb(40, 78, 245);
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    width: 43%;
}
.button{
    display: flex;
    justify-content: flex-end;
    margin: 0 0.4rem 1rem 0;
}
.btn{
    border: none;
    border: 0.1rem solid;
    border-radius: 0.6rem;
    padding: 0.2rem;
    background-color: rgb(40, 78, 245);
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1.2rem;
}
.btn:hover{
    color: white;
}
p{
    text-align: center;
}
.large-text{
    font-size: 1.5rem;
    color: bisque;
}